<div class="breadcrumb">
  <ol>
    <li>
      <a href="javascript:;">
        <svg-icon src="assets/icons/dashboard.svg" [svgClass]="'h-5 w-5'"></svg-icon>
      </a>
    </li>
    <li class="">
      <a href="javascript:;">{{ selectedProject ? selectedProject.title : '' }}</a>
    </li>
    <li class="active">
      <a href="javascript:;">Task Board</a>
    </li>
  </ol>
</div>

<div class="">
  <div class="mt-8">
    <h1 class="header">{{ selectedProject ? selectedProject.title : 'Select A Project' }}</h1>
  </div>

  <div class="mt-4 flex gap-4 items-center">
    <svp-search-button svpPlaceholder="Search tasks" displaySearchButton="true" widthClass="w-64"
      (onSearch)="loadTasks($event)" />

    <ng-select [items]="projects$ | async" [addTag]="false" [multiple]="false" bindValue="id" bindLabel="title"
      [closeOnSelect]="true" [clearable]="false" placeholder="Select a project" [(ngModel)]="selectedProjectId"
      (change)="setProject($event)" class="w-80">
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice : 0 : 1">
          <span class="ng-value-label"><strong>Project:</strong> {{ items[0].title }}</span>
          <!-- <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span> -->
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">{{ items.length - 1 }} more...</span>
        </div>
      </ng-template>

      <ng-template ng-header-tmp>
        <input style="width: 100%" type="text" placeholder="Search projects" />
      </ng-template>

      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <div class="flex space-x-1.5">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" class="mt-1.5" />

          <div>
            <strong>{{ item.title }}</strong> <br />
            <small>Owner: {{ item.createdBy.firstName }} {{ item.createdBy.lastName }}</small>
          </div>
        </div>
      </ng-template>
    </ng-select>

    <div class="flex gap-4 items-center" *ngIf="selectedProject && allTasks.length > 0">
      <div class="flex gap-2" *ngIf="approvalLoading">
        <img src="assets/images/loading.gif" class="h-5 w-auto" alt="Loading" />
        <span>Loading task setup approval status</span>
      </div>
      <button class="btn btn-info"
        *ngIf="!approvalLoading && (!approval || (approval.isFulfilled === true && approval.status === false))"
        (click)="sendTaskSetupsForApproval()">Send Task Setup For Approval</button>
      <button class="btn btn-outline-info" *ngIf="!approvalLoading && approval && approval.status === null">Send
        Reminder To Approve Task Setup</button>
    </div>
  </div>

  <div class="grid grid-cols-6 gap-x-4">
    <div class="col-span-5">
      <div class="mt-6 grid grid-cols-3 gap-x-4">
        <div class="bg-gray-200 rounded-t-md">
          <div
            class="flex w-full justify-between rounded-t-md bg-primary-300 px-4 py-3 dark:bg-primary-500 dark:text-white">
            <p class="font-medium">TO DO</p>
            <p>{{ todoTasks.length }} items</p>
          </div>
        </div>

        <div
          class="flex w-full justify-between rounded-t-md bg-primary-300 px-4 py-3 dark:bg-primary-500 dark:text-white">
          <p class="font-medium">IN PROGRESS</p>
          <p>{{ inProgressTasks.length }} items</p>
        </div>

        <div
          class="flex w-full justify-between rounded-t-md bg-primary-300 px-4 py-3 dark:bg-primary-500 dark:text-white">
          <p class="font-medium">COMPLETED</p>
          <p>{{ completedTasks.length }} items</p>
        </div>
      </div>

      <ng-scrollbar class="h-[calc(100vh-330px)]" [visibility]="'hover'" [appearance]="'compact'">
        <div class="mb-3 grid grid-cols-3 gap-x-4">
          <!-- TO DO -->
          <div class="stage">
            <div id="todoList" cdkDropList cdkDropListSortingDisabled
              [cdkDropListDisabled]="approval === undefined || approval.status === false" [cdkDropListData]="todoTasks"
              [cdkDropListConnectedTo]="['inProgressList']" (cdkDropListDropped)="drop($event)">
              <!-- When No project is selected -->
              <ng-container *ngIf="!selectedProjectId">
                <p class="my-10 text-center text-gray-500">Select a project to view tasks</p>
              </ng-container>

              @for (task of todoTasks; track task.id) {
              <div cdkDrag [cdkDragData]="task" (click)="viewTaskDetails(task.id)">
                <div>
                  <p class="summary">{{ task.summary }}</p>
                  <span class="epic" *ngIf="task.epic">{{ task.epic }}</span>
                </div>

                <div class="footer">
                  <p class="date">{{ task.dueDate | utcToLocalDate }}</p>
                  <!-- TODO: children icon -->
                  <div class="actions">
                    <!-- TODO: implement edit task -->
                    <!-- <button type="button" class="edit">
                      <svg-icon src="assets/icons/pen.svg" />
                    </button> -->
                    <button type="button" class="delete" (click)="deleteTask(task); $event.stopPropagation()">
                      <svg-icon src="assets/icons/trash.svg" />
                    </button>
                  </div>
                </div>
              </div>
              }

              <!-- ADD NEW TASK BUTTON -->
              <button type="button" class="btn btn-primary mt-4 w-full" (click)="addNewTask()"
                *ngIf="selectedProjectId">
                <svg-icon src="assets/icons/plus.svg" [svgClass]="'h-5 h-5'" />
                <span>Add Task</span>
              </button>
            </div>
          </div>

          <!-- IN PROGRESS -->
          <div class="stage">
            <div id="inProgressList" cdkDropList cdkDropListSortingDisabled
              [cdkDropListDisabled]="approval === undefined || approval.status === false"
              [cdkDropListData]="inProgressTasks" [cdkDropListConnectedTo]="['todoList', 'completedList']"
              (cdkDropListDropped)="drop($event)">
              <!-- When No project is selected -->
              <ng-container *ngIf="!selectedProjectId">
                <p class="my-10 text-center text-gray-500">Select a project to view tasks</p>
              </ng-container>

              <!-- No tasks currently in progress -->
              <ng-container *ngIf="selectedProjectId && inProgressTasks.length === 0">
                <p class="my-10 text-center text-gray-500">
                  {{ approval?.status === true ? 'No task is currently in progress. Drag and drop tasks from the TO DO
                  list to get started.' : 'Task setup is not approved yet, click the button above to send for
                  approval.'}}
                </p>
              </ng-container>
              @for (task of inProgressTasks; track task.id) {
              <div cdkDrag [cdkDragData]="task" (click)="viewTaskDetails(task.id)">
                <div>
                  <p class="summary">{{ task.summary }}</p>
                  <span class="epic" *ngIf="task.epic">{{ task.epic }}</span>
                </div>

                <div class="footer">
                  <p class="date">{{ task.dueDate | utcToLocalDate }}</p>
                  <!-- TODO: children icon -->
                  <div class="actions">
                    <!-- TODO: implement edit -->
                    <!-- <button type="button" class="edit">
                      <svg-icon src="assets/icons/pen.svg" />
                    </button> -->
                    <button type="button" class="delete" (click)="deleteTask(task); $event.stopPropagation()">
                      <svg-icon src="assets/icons/trash.svg" />
                    </button>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>

          <!-- COMPLETED -->
          <div class="stage">
            <div id="completedList" cdkDropList cdkDropListSortingDisabled
              [cdkDropListDisabled]="approval === undefined || approval.status === false"
              [cdkDropListData]="completedTasks" [cdkDropListConnectedTo]="['inProgressList']"
              (cdkDropListDropped)="drop($event)">
              <!-- When No project is selected -->
              <ng-container *ngIf="!selectedProjectId">
                <p class="my-10 text-center text-gray-500">Select a project to view tasks</p>
              </ng-container>

              <!-- No tasks currently completed -->
              <ng-container *ngIf="selectedProjectId && completedTasks.length === 0">
                <p class="my-10 text-center text-gray-500">
                  {{ approval?.status === true ? 'No task is currently completed. Drag and drop tasks from the IN
                  PROGRESS list to get started.' : 'Task setup is not approved yet, click the button above to send for
                  approval.'}}
                </p>
              </ng-container>
              @for (task of completedTasks; track task.id) {
              <div cdkDrag [cdkDragData]="task" (click)="viewTaskDetails(task.id)">
                <div>
                  <p class="summary">{{ task.summary }}</p>
                  <span class="epic" *ngIf="task.epic">{{ task.epic }}</span>
                </div>

                <div class="footer">
                  <p class="date">{{ task.dueDate | utcToLocalDate }}</p>
                  <!-- TODO: children icon -->
                  <div class="actions">
                    <!-- TODO: implement edit -->
                    <!-- <button type="button" class="edit">
                      <svg-icon src="assets/icons/pen.svg" />
                    </button> -->
                    <button type="button" class="delete" (click)="deleteTask(task); $event.stopPropagation()">
                      <svg-icon src="assets/icons/trash.svg" />
                    </button>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>