<div class="mx-auto px-4 py-4 sm:px-8">
  <div class="mt-4 flex flex-row justify-between">
    <div>
      <div>
        <h6>My Very First Project</h6>
      </div>
    </div>

    <!-- <div class="flex space-x-3">
      <div svp-card-selector>
        <svg-icon src="assets/icons/appicons/table.svg" [svgClass]="'h-4 h-4'" />
        <span>LIST VIEW</span>
      </div>

      <div svp-card-selector>
        <svg-icon src="assets/icons/appicons/grid-view-outline.svg" [svgClass]="'h-4 h-4'" />
        <span>DETAIL VIEW</span>
      </div>
    </div> -->
  </div>

  <div class="mt-4 flex space-x-3">
    <svp-search-button svpPlaceholder="Search tasks" displaySearchButton="true" widthClass="w-64" />

    <ng-select
      [items]="projects$ | async"
      [addTag]="false"
      [multiple]="false"
      bindValue="id"
      bindLabel="title"
      [closeOnSelect]="true"
      placeholder="Select a project"
      [(ngModel)]="selectedProjectId"
      (change)="setProjectId($event)"
      class="w-80">
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice : 0 : 1">
          <span class="ng-value-label"><strong>Project:</strong> {{ items[0].title }}</span>
          <!-- <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span> -->
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">{{ items.length - 1 }} more...</span>
        </div>
      </ng-template>

      <ng-template ng-header-tmp>
        <input style="width: 100%" type="text" placeholder="Search projects" />
      </ng-template>

      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <div class="flex space-x-1.5">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" class="mt-1.5" />

          <div>
            <strong>{{ item.title }}</strong> <br />
            <small>Owner: {{ item.createdBy.firstName }} {{ item.createdBy.lastName }}</small>
          </div>
        </div>
      </ng-template>
    </ng-select>
  </div>

  <div class="grid grid-cols-6 gap-x-4">
    <div class="col-span-5">
      <div class="mt-6 grid grid-cols-3 gap-x-4">
        <!-- TO DO -->
        <div class="bg-gray-200">
          <div class="flex w-full justify-between rounded-t-md bg-primary-300 px-4 py-3">
            <p class="font-medium">TO DO</p>
            <p>{{ todoTasks.length }} items</p>
          </div>
        </div>

        <div class="flex w-full justify-between rounded-t-md bg-primary-300 px-4 py-3">
          <p class="font-medium">IN PROGRESS</p>
          <p>{{ inProgressTasks.length }} items</p>
        </div>

        <div class="flex w-full justify-between rounded-t-md bg-primary-300 px-4 py-3">
          <p class="font-medium">COMPLETED</p>
          <p>{{ completedTasks.length }} items</p>
        </div>
      </div>

      <ng-scrollbar class="h-[calc(100vh-330px)]" [visibility]="'hover'" [appearance]="'compact'">
        <div class="mb-3 grid grid-cols-3 gap-x-4">
          <!-- TO DO -->
          <div class="space-y-2 rounded-b-md bg-gray-200 p-2">
            <div
              id="todoList"
              class="task-list h-full space-y-2"
              cdkDropList
              cdkDropListSortingDisabled
              [cdkDropListData]="todoTasks"
              [cdkDropListConnectedTo]="['inProgressList']"
              (cdkDropListDropped)="drop($event)">
              <!-- When No project is selected -->
              <ng-container *ngIf="!selectedProjectId">
                <p class="my-10 text-center text-gray-500">Select a project to view tasks</p>
              </ng-container>

              @for (task of todoTasks; track task.id) {
              <div
                class="task-box group cursor-pointer space-y-3 border border-gray-300 bg-white px-3 py-2 hover:border-white hover:bg-gray-100"
                cdkDrag
                [cdkDragData]="task"
                (click)="viewTaskDetails(task.id)">
                <div class="">
                  <p class="mb-3 group-hover:underline">{{ task.summary }}</p>
                  <span class="badge bg-info text-sm" *ngIf="task.epic">{{ task.epic }}</span>
                </div>

                <div class="flex justify-between">
                  <p class="text-gray-400">{{ task.dueDate | utcToLocalDate }}</p>
                  <!-- TODO: children icon -->
                  <div class="flex space-x-2">
                    <button type="button" class="text-info hover:text-info-800">
                      <svg-icon src="assets/icons/pen.svg" [svgClass]="'h-5 h-5'" />
                    </button>
                    <button type="button" class="text-danger hover:text-danger-800">
                      <svg-icon src="assets/icons/trash.svg" [svgClass]="'h-5 h-5'" />
                    </button>
                  </div>
                </div>
              </div>
              }

              <!-- ADD NEW TASK BUTTON -->
              <button type="button" class="btn btn-primary mt-4 w-full" (click)="addNewTask()" *ngIf="selectedProjectId">
                <svg-icon src="assets/icons/plus.svg" [svgClass]="'h-5 h-5'" />
                <span>Add Task</span>
              </button>
            </div>
          </div>

          <!-- IN PROGRESS -->
          <div class="space-y-2 rounded-b-md bg-gray-200 p-2">
            <div
              id="inProgressList"
              class="task-list h-full space-y-2"
              cdkDropList
              cdkDropListSortingDisabled
              [cdkDropListData]="inProgressTasks"
              [cdkDropListConnectedTo]="['todoList', 'completedList']"
              (cdkDropListDropped)="drop($event)">
              <!-- When No project is selected -->
              <ng-container *ngIf="!selectedProjectId">
                <p class="my-10 text-center text-gray-500">Select a project to view tasks</p>
              </ng-container>

              <!-- No tasks currently in progress -->
              <ng-container *ngIf="selectedProjectId && inProgressTasks.length === 0">
                <p class="my-10 text-center text-gray-500">No tasks in progress.</p>
              </ng-container>
              @for (task of inProgressTasks; track task.id) {
              <div
                class="task-box group cursor-pointer space-y-3 border border-gray-300 bg-white px-3 py-2 hover:border-white hover:bg-gray-100"
                cdkDrag
                [cdkDragData]="task"
                (click)="viewTaskDetails(task.id)">
                <div class="">
                  <p class="mb-3 group-hover:underline">{{ task.summary }}</p>
                  <span class="badge bg-info text-sm" *ngIf="task.epic">{{ task.epic }}</span>
                </div>

                <div class="flex justify-between">
                  <p class="text-gray-400">{{ task.dueDate | utcToLocalDate }}</p>
                  <!-- TODO: children icon -->
                  <div class="flex space-x-2">
                    <button type="button" class="text-info hover:text-info-800">
                      <svg-icon src="assets/icons/pen.svg" [svgClass]="'h-5 h-5'" />
                    </button>
                    <button type="button" class="text-danger hover:text-danger-800">
                      <svg-icon src="assets/icons/trash.svg" [svgClass]="'h-5 h-5'" />
                    </button>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>

          <!-- COMPLETED -->
          <div class="space-y-2 rounded-b-md bg-gray-200 p-2">
            <div
              id="completedList"
              class="task-list h-full space-y-2"
              cdkDropList
              cdkDropListSortingDisabled
              [cdkDropListData]="completedTasks"
              [cdkDropListConnectedTo]="['inProgressList']"
              (cdkDropListDropped)="drop($event)">
              <!-- When No project is selected -->
              <ng-container *ngIf="!selectedProjectId">
                <p class="my-10 text-center text-gray-500">Select a project to view tasks</p>
              </ng-container>

              <!-- No tasks currently completed -->
              <ng-container *ngIf="selectedProjectId && completedTasks.length === 0">
                <p class="my-10 text-center text-gray-500">No task is completed.</p>
              </ng-container>
              @for (task of completedTasks; track task.id) {
              <div
                class="task-box group cursor-pointer space-y-3 border border-gray-300 bg-white px-3 py-2 hover:border-white hover:bg-gray-100"
                cdkDrag
                [cdkDragData]="task"
                (click)="viewTaskDetails(task.id)">
                <div class="">
                  <p class="mb-3 group-hover:underline">{{ task.summary }}</p>
                  <span class="badge bg-info text-sm" *ngIf="task.epic">{{ task.epic }}</span>
                </div>

                <div class="flex justify-between">
                  <p class="text-gray-400">{{ task.dueDate | utcToLocalDate }}</p>
                  <!-- TODO: children icon -->
                  <div class="flex space-x-2">
                    <button type="button" class="text-info hover:text-info-800">
                      <svg-icon src="assets/icons/pen.svg" [svgClass]="'h-5 h-5'" />
                    </button>
                    <button type="button" class="text-danger hover:text-danger-800">
                      <svg-icon src="assets/icons/trash.svg" [svgClass]="'h-5 h-5'" />
                    </button>
                  </div>
                </div>
              </div>
              }
            </div>
          </div>
        </div>
      </ng-scrollbar>
    </div>
  </div>
</div>

@if(sideViewService.isActive) {
<svp-side-view></svp-side-view>
}
