<div class="relative h-full w-full bg-gray-100 dark:bg-night-700">
  <div class="bg-gray-100 dark:bg-night-700">
    @if (loadError === false) {
    <div class="sticky top-0 flex justify-between space-x-12 py-4 bg-info text-white px-4 items-center">
      <div class="flex items-center gap-5">
        <h5>{{ project.title }}</h5>
        <svp-status-card [status]="project.status" />
      </div>

      <button >
        <svg-icon src="assets/icons/x.svg" [svgClass]="'h-5 xl:h-6  2xl:h-7 w-auto'" (click)="close()" />
      </button>
    </div>
    }

    <div *ngIf="loadError === undefined">
      <div class="flex h-svh flex-col justify-center text-center">
        <h5>Loading...</h5>
      </div>
    </div>

    <div *ngIf="loadError === true">
      <div class="flex h-svh flex-col items-center justify-center gap-4">
        <h5 class="text-red-600 text-center">{{ errorMessage }}</h5>
        <button class="btn btn-outline-danger" (click)="close()">Close</button>
      </div>
    </div>

    <div *ngIf="loadError === false" class="space-y-2 lg:space-y-3 px-4 mt-4">
      <div class="pb-4">
        <p class="smaller font-semibold text-gray-500">Description</p>
        <p>{{ project.description }}</p>
      </div>

      <div class="rounded-xl bg-white p-4 2xl:p-8 grid grid-cols-2 lg:grid-cols-3 gap-5">
        <div>
          <p class="smaller font-semibold text-gray-500 text-nowrap">Created On</p>
          <p class="font-semibold">{{ project.startDate | utcToLocalDate }}</p>
        </div>
  
        <div>
          <p class="smaller font-semibold text-gray-500">Project created</p>
          <!-- TODO: Add created date to API response -->
          <p class="font-semibold">{{ project.startDate | utcToLocalDate }}</p>
        </div>
  
        <div class="col-span-2 lg:col-span-1">
          <p class="smaller font-semibold text-gray-500">Project Manager</p>
          <p class="font-semibold">{{ project.assignee ? project.assignee.firstName + ' ' + project.assignee.lastName : 'N/A' }}</p>
        </div>
      </div>

      <div class="rounded-xl bg-white p-4 2xl:p-8 dark:bg-night-500">
        <div class="grid grid-cols-2">
          <div class="space-y-4">
            <!-- TASKS -->
            <div class="flex items-center space-x-2">
              <svg-icon src="assets/icons/appicons/bar-chart.svg" [svgClass]="'h-5 w-5 dark:text-gray-200'" />
              <h6>Tasks</h6>
            </div>

            <p italic *ngIf="true">No tasks created yet</p>

            <!-- TODO: display the first three active tasks here -->
            <!-- <div class="flex space-x-2 items-center">      
              <input type="checkbox" checked disabled>
              <p>Site Clearing</p>
            </div>

            <div class="flex space-x-2 items-center">      
              <input type="checkbox" disabled>
              <p>Foundation</p>
            </div>  

            <div class="flex space-x-2 items-center">
              <input type="checkbox" disabled>
              <p>Roofing</p>
            </div>

            <div class="flex space-x-2 items-center">
              <input type="checkbox" disabled>
              <p>Finishing</p>
            </div> -->

            <!-- ATTACHMENTS -->
            <div class="flex items-center space-x-2 pt-10">
              <svg-icon src="assets/icons/appicons/bar-chart.svg" [svgClass]="'h-5 w-5 dark:text-gray-200'" />
              <h6>Attachments</h6>
            </div>

            <div class="flex items-center space-x-2" *ngIf="project.design">
              <svg-icon src="assets/icons/appicons/chart.svg" [svgClass]="'h-5 w-5 dark:text-gray-200'" />
              <p>{{ project.design!.name }}</p>
            </div>
          </div>

          <div class="space-y-4">
            <!-- RECENT ACTIVITIES -->
            <div class="ml-6">
              <h6>Recent Activities</h6>
              <p italic *ngIf="true" class="mt-2">No recent activities</p>
            </div>

            <!-- TODO: implement project activities to include creating tasks, assigning tasks, updating tasks, assigning project to PM, etc. -->

            <!-- <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
              <li class="ms-6">            
                  <span class="absolute flex items-center justify-center w-6 h-6 bg-gray-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                    <svg-icon src="assets/icons/appicons/check-mark.svg" [svgClass]="'h-3 w-3 text-gray-900'"/>
                  </span>
                  <h6>Admin assigned task to James Sylvester</h1>
                  <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">January 13th, 2024</time>
              </li>
              <li class="mt-10 ms-6">
                <span class="absolute flex items-center justify-center w-6 h-6 bg-gray-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                  <svg-icon src="assets/icons/appicons/check-mark.svg" [svgClass]="'h-3 w-3 text-gray-900'"/>
                </span>
                <h6>Task Created - Ground breaking</h1>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">February 13th, 2024</time>
              </li>
              <li class="mt-10 ms-6">
                <span class="absolute flex items-center justify-center w-6 h-6 bg-gray-100 rounded-full -start-3 ring-8 ring-white dark:ring-gray-900 dark:bg-blue-900">
                  <svg-icon src="assets/icons/appicons/check-mark.svg" [svgClass]="'h-3 w-3 text-gray-900'"/>
                </span>
                <h6>Ground breaking assigned to James Sylvester</h1>
                <time class="block mb-2 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">March 13th, 2024</time>
              </li>
            </ol> -->
          </div>
        </div>
      </div>
    </div>

    <div
      class="sticky bottom-0 mt-6 flex flex-col justify-between gap-6 border-t-2 border-gray-200 bg-gray-100 dark:bg-night-700 p-4 xl:flex-row xl:items-end"
      *ngIf="loadError === false && !project.assignee">
      <div class="space-y-2 grow">
        <label svp-label>Assign to a Project Manager</label>
        <ng-select
          [items]="projectManagers$ | async"
          [addTag]="false"
          [multiple]="false"
          [hideSelected]="false"
          placeholder="-- select manager --"
          bindLabel="name"
          bindValue="uid"
          [loading]="projectManagersLoading"
          [(ngModel)]="selectedProjectManagerUid"
          [typeahead]="projectManagerInput$"
          typeToSearchText="Please enter 2 or more characters"
          class="w-full sm:w-[75%] xl:w-full">
        </ng-select>
      </div>

      <div class="flex justify-between sm:justify-end space-x-2">
        <button class="btn btn-outline-danger" (click)="close()">Cancel</button>
        <button class="btn btn-primary">Reject Project</button>
        <button class="btn btn-success" (click)="assignProjectManager()">Approve Project</button>
      </div>
    </div>
  </div>
</div>
