<div class="w-full h-full bg-gray-100 dark:bg-night-700" *ngIf="task">
  <div class="px-8 bg-gray-100 dark:bg-night-700">
    <div class="flex py-6 bg-gray-100 dark:bg-night-700 sticky top-0">
      <p svp-text class="small">
        {{task.type}} Details
      </p>

      <div class="self-start grow flex justify-end -mr-4 cursor-pointer text-gray-800 dark:text-night-200 hover:text-gray-500 dark:hover:text-night-400">
        <svg-icon src="assets/icons/appicons/cancel.svg" [svgClass]="'h-4 w-4'" (click)="exit.emit()"/>
      </div>
    </div>

    <div class="space-y-3">
      <div class="space-y-1.5">
        <h1 svp-subHeader>{{task.summary}}</h1>

        <div class="flex space-x-2">
          <button svp-action>
            <svg-icon src="assets/icons/appicons/check-mark.svg" [svgClass]="'h-4 w-4'" />
            <span class="ml-1">TO DO</span>
          </button>

          <button svp-action>
            <svg-icon src="assets/icons/appicons/check-mark.svg" [svgClass]="'h-4 w-4'" />
            <span class="ml-1">Attach</span>
          </button>
        
          <button svp-action>
            <svg-icon src="assets/icons/appicons/check-mark.svg" [svgClass]="'h-4 w-4'" />
            <span class="ml-1">Add a child task</span>
          </button>          
        </div>
      </div>

      <div class="space-y-1">
        <p svp-text>Description</p>
        <p>{{task.description}}</p>
      </div>

      <div class="space-y-1.5">
        <p svp-text>Attachments</p>        
        
        <div class="grid grid-cols-3 gap-1.5">
          <div *ngFor="let attachment of task.attachments" class="relative w-full max-w-44 overflow-hidden rounded-lg items-center bg-white shadow-md">
            <a href="#">
              <img class="h-24 rounded-t-lg object-cover" src="https://localhost:7023/api/v1/assets/{{attachment.thumbnailUrl}}" alt="product image" />
            </a>
  
            <div class="mt-4 p-1 bg-gray-100">
              <a href="#">
                <p class="tracking-tight text-sm text-slate-900">Screenshot 2024... 851.png</p>
              </a>
              
              <div class="flex items-center justify-between">
                <p>
                  <span class="text-sm text-slate-900">{{attachment.createdAt | date:'MMM dd, yyyy' }}</span>
                </p>
                <button class="flex items-center rounded-md bg-slate-900 p-1 text-center text-sm font-medium text-white hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-blue-300">
                    <svg-icon src="assets/icons/appicons/check-mark.svg" [svgClass]="'h-4 w-4'" />
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>