<form class="my-10 space-y-6" [formGroup]="formGroup">
  <div class="text-center">
    @if (isInvitation) {
      <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-white">Welcome to the Team</h2>
      <p class="text-sm text-gray-400 dark:text-night-200">
        Set up your new password to get started.
      </p>
    }
    @else {
      <h2 class="mb-1 text-3xl font-semibold text-gray-700 dark:text-white">Setup New Password</h2>
      <p class="text-sm text-gray-400 dark:text-night-200">
        Have you already reset the password ? <a class="text-primary-500" routerLink="/auth/sign-in"> Sign in</a>
      </p>
    }    
  </div>

  <div class="space-y-3 text-left">
    <auth-input svpType="password" [svpForm]="formGroup" svpId="password" svpLabel="Password" (keyUp)="calculatePasswordStrength($event)" />
    <svp-validation-errors [svpControl]="formGroup.get('password')" />
    <!-- Password Meeter -->
    <div class="grid grid-cols-4 gap-2">
      <div class="h-1 rounded-sm"
        [ngClass]="{
          'bg-gray-200 dark:bg-night-500': passwordStrength === 0,
          'bg-red-700 dark:bg-red-400': passwordStrength > 0 && passwordStrength <= 25,
          'bg-yellow-500 dark:bg-yellow-400': passwordStrength > 25 && passwordStrength <= 50,
          'bg-green-500': passwordStrength > 50,
          }"></div>

      <div class="h-1 rounded-sm"
        [ngClass]="{
          'bg-gray-200 dark:bg-night-500': passwordStrength === 0,
          'bg-yellow-500 dark:bg-yellow-400': passwordStrength > 25 && passwordStrength <= 50,
          'bg-green-500': passwordStrength > 50,
          }"></div>

      <div class="h-1 rounded-sm"
        [ngClass]="{
          'bg-gray-200 dark:bg-night-500': passwordStrength === 0,
          'bg-green-500': passwordStrength > 50,
          }"></div>

      <div class="h-1 rounded-sm"
        [ngClass]="{
          'bg-gray-200 dark:bg-night-500': passwordStrength === 0,
          'bg-green-500': passwordStrength > 75,
          }"></div>
    </div>
    <span class="text-xs text-gray-400 dark:text-night-300"
      >Use 8 or more characters with a mix of letters, numbers & any of (!?*.#$).</span
    >
    
    <div>
      <auth-input svpType="password" [svpForm]="formGroup" svpId="confirmPassword" svpLabel="Confirm Password" />
      <svp-validation-errors [svpControl]="formGroup.get('confirmPassword')" />
    </div>
  </div>

  <!-- Submit Button -->
  <button svp-primary isFullWidth class="mt-5 mb-10" (click)="submit()">
    {{ isInvitation ? 'Set Password' : 'Reset Password'}}
  </button>
</form>
