<div class="breadcrumb">
  <ol>
    <li>
      <a href="javascript:;">
        <svg-icon src="assets/icons/dashboard.svg" [svgClass]="'h-5 w-5'"></svg-icon>
      </a>
    </li>
    <li class="">
      <a href="javascript:;">{{ selectedProject ? selectedProject.title : '' }}</a>
    </li>
    <li class="active">
      <a href="javascript:;">All Tasks</a>
    </li>
  </ol>
</div>

<div class="panel space-y-6">
  <h1 class="header">All Tasks</h1>

  <div class="flex items-center gap-4">
    <button class="btn btn-primary" type="button" (click)="addNewTask()">Create task</button>

    <div class="flex items-center gap-4" *ngIf="selectedProject && allTasks.length > 0">
      <div class="flex gap-2" *ngIf="approvalLoading">
        <img src="assets/images/loading.gif" class="h-5 w-auto" alt="Loading" />
        <span>Loading task setup approval status</span>
      </div>
      <button
        class="btn btn-info"
        *ngIf="!approvalLoading && (!approval || (approval.isFulfilled === true && approval.status === false))"
        (click)="sendTaskSetupsForApproval()">
        Send Task Setup For Approval
      </button>
      <button class="btn btn-outline-info" *ngIf="!approvalLoading && approval && approval.status === null" (click)="sendTaskApprovalReminder()">Send Reminder To Approve Task Setup</button>
    </div>
  </div>

  <div class="mt-4 border-b border-t border-[#e0e6ed] py-3 dark:border-[#1b2e4b]">
    <div class="flex items-end gap-10">
      <!-- TODO: implement search -->
      <svp-search-button svpPlaceholder="Search tasks" displaySearchButton="true" widthClass="w-64" />

      <ng-select
        [items]="projects$ | async"
        [addTag]="false"
        bindValue="id"
        bindLabel="title"
        [clearable]="false"
        placeholder="Select a project"
        [(ngModel)]="selectedProjectId"
        (change)="setProject($event)"
        class="w-80">
        <ng-template ng-label-tmp let-item="item">
          {{ item.title }}
        </ng-template>

        <ng-template ng-header-tmp>
          <input style="width: 100%" type="text" placeholder="Search projects" />
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <div class="flex space-x-1.5">
            <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" class="mt-1.5" />

            <div>
              <strong>{{ item.title }}</strong> <br />
              <small>Owner: {{ item.createdBy.firstName }} {{ item.createdBy.lastName }}</small>
            </div>
          </div>
        </ng-template>
      </ng-select>

      <ng-select
        [items]="taskTypes"
        [addTag]="true"
        [multiple]="true"
        [hideSelected]="false"
        [closeOnSelect]="false"
        placeholder="Type"
        [(ngModel)]="taskSearchParams.types"
        (change)="loadTasks()"
        typeToSearchText="Please enter 2 or more characters"
        class="max-w-72">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice : 0 : 1">
            <span class="ng-value-label"><strong>Type:</strong> {{ item }}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 1">
            <span class="ng-value-label">{{ items.length - 1 }} more...</span>
          </div>
        </ng-template>
      </ng-select>

      <ng-select
        [items]="statuses"
        [addTag]="true"
        [multiple]="true"
        [hideSelected]="false"
        [closeOnSelect]="false"
        placeholder="Status"
        [(ngModel)]="taskSearchParams.statuses"
        (change)="loadTasks()"
        typeToSearchText="Please enter 2 or more characters"
        class="max-w-80">
        <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
          <div class="ng-value" *ngFor="let item of items | slice : 0 : 1">
            <span class="ng-value-label"><strong>Status:</strong> {{ item }}</span>
            <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
          </div>
          <div class="ng-value" *ngIf="items.length > 1">
            <span class="ng-value-label">{{ items.length - 1 }} more...</span>
          </div>
        </ng-template>

        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
          <div class="flex space-x-1.5">
            <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" class="mt-1.5" />

            <div>
              <strong>{{ item }}</strong> <br />
            </div>
          </div>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <div class="bgwhite !mt-0 rounded-xl dark:bg-night-700">
    <div class="w-full">
      <div class="table-container max-h-[calc(100vh-324px)]">
        <table class="fixed-header header-1 bordered">
          <thead>
            <tr>
              <th width="8%"><span>Type</span></th>
              <th style="max-width: 30%"><span>Summary</span></th>
              <th><span>Status</span></th>
              <th><span>Created</span></th>
              <th><span>Last Updated</span></th>
              <th><span>Due Date</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!selectedProject || allTasks.length === 0">
              <td colspan="7" class="bg-transparent hover:bg-transparent">
                <div class="flex h-56 items-center justify-center">
                  <h6 *ngIf="!selectedProject">Select a project to view tasks.</h6>
                  <div *ngIf="selectedProject && allTasks.length === 0" class="flex flex-col items-center gap-6">
                    <h6>No tasks found.</h6>
                    <button class="btn btn-primary" type="button" (click)="addNewTask()">Create task</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngFor="let task of allTasks; let index = index">
              <td>
                <span>{{ task.type }}</span>
              </td>
              <td class="clickable cursor-pointer" (click)="viewTaskDetails(task.id)">
                <span>{{ task.summary }}</span>
              </td>
              <td>
                <div x-dropdown [active]="approval?.status === true">
                  <svp-task-status-card
                    [status]="task.status"
                    [ngClass]="{
                      'cursor-pointer': task.status !== taskStatusEnum.COMPLETED
                    }" />

                  <div x-dropdown-content class="rounded-sm border border-gray-400 bg-white">
                    <div class="flex flex-col">
                      <div
                        class="flex bg-gray-200 hover:bg-gray-100"
                        *ngIf="task.status === taskStatusEnum.TODO"
                        (click)="changeTaskStatus(task, taskStatusEnum.IN_PROGRESS)">
                        <div class="w-1 bg-info"></div>
                        <div class="flex cursor-pointer items-center gap-5 px-2 py-1">
                          <span class="text-sm">start work</span>
                          <!-- arrow right svg -->
                          <svg-icon src="assets/icons/heroicons/outline/arrow-sm-right.svg" [svgClass]="'h-4 h-4'" />
                          <span class="-ml-4 rounded-sm bg-warning px-1 text-xs font-semibold text-white">IN PROGRESS</span>
                        </div>
                      </div>

                      <div
                        class="flex bg-gray-200 hover:bg-gray-100"
                        *ngIf="task.status === taskStatusEnum.IN_PROGRESS"
                        (click)="changeTaskStatus(task, taskStatusEnum.COMPLETED)">
                        <div class="w-1 bg-info"></div>
                        <div class="flex cursor-pointer items-center gap-5 px-2 py-1">
                          <span class="text-sm">complete work</span>
                          <!-- arrow right svg -->
                          <svg-icon src="assets/icons/heroicons/outline/arrow-sm-right.svg" [svgClass]="'h-4 h-4'" />
                          <span class="-ml-4 rounded-sm bg-success px-1 text-xs font-semibold text-white">COMPLETED</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <span>{{ task.createdAt | utcToLocalDate }}</span>
              </td>
              <td>
                <span>{{ task.updatedAt === null ? '-' : (task.updatedAt! | utcToLocalDate : 'withTime') }}</span>
              </td>
              <td>
                <span>{{ task.dueDate | utcToLocalDate }}</span>
              </td>
              <td>
                <!-- TODO: Finish the dropdown capability to change the status -->
                <div class="cursor-pointer" x-dropdown>
                  <a (click)="(false)">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </a>
                  <div x-dropdown-content class="flex flex-col border border-gray-300 bg-white">
                    <div
                      class="cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-primary-300"
                      *ngIf="approval?.status === true && task.status === taskStatusEnum.TODO"
                      (click)="changeTaskStatus(task, taskStatusEnum.IN_PROGRESS)">
                      Move To IN PROGRESS
                    </div>
                    <div
                      class="cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-primary-300"
                      *ngIf="approval?.status === true && task.status === taskStatusEnum.IN_PROGRESS"
                      (click)="changeTaskStatus(task, taskStatusEnum.COMPLETED)">
                      Move To COMPLETED
                    </div>
                    <div class="cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-primary-300" (click)="viewTaskDetails(task.id)">View Details</div>
                    <div class="cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-primary-300" (click)="deleteTask(task.id)">Delete</div>
                    <div
                      class="cursor-pointer border-b border-gray-200 px-4 py-2 hover:bg-primary-300"
                      (click)="changeDueDate(task)"
                      *ngIf="task.status !== taskStatusEnum.COMPLETED">
                      Change Due Date
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="fixed inset-0 z-50 flex h-full items-center justify-center overflow-hidden" *ngIf="dueDateFormIsOpen">
  <div class="fixed inset-0 transition-opacity" (click)="dueDateFormIsOpen = false">
    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
  </div>

  <div class="overflow-hidde w-[95%] transform rounded-lg bg-white text-left transition-all sm:w-[calc(100vw/4)]" style="max-height: 90%; overflow-y: auto">
    <!-- Content -->
    <div>
      <div class="bg-primary p-4">
        <h2 class="text-lg font-bold text-white">Change Due Date of {{ selectedTask.summary }}</h2>
      </div>

      <div class="bg-white p-4">
        <form [formGroup]="dueDateForm" class="space-y-6">
          <div>
            <label>New Due Date</label>
            <input type="date" formControlName="dueDate" class="mb-1 w-full rounded border border-gray-300 p-2" />
          </div>

          <div>
            <label>Why do you want to change this date?</label>
            <textarea formControlName="reason" class="mb-1 min-h-36 w-full rounded border border-gray-300 p-2" placeholder="Reason or remark"></textarea>

            <div class="text-red-700">
              <svp-validation-errors [control]="dueDateForm.get('reason')" />
            </div>

            <div>
              <svp-max-input-length [count]="dueDateForm.get('reason')?.value.length" [total]="5000" [minThreshold]="5" />
            </div>
          </div>
        </form>
      </div>

      <div class="flex justify-end gap-2 bg-white p-4">
        <button class="rounded border border-primary px-4 py-2 text-primary" (click)="dueDateFormIsOpen = false">Cancel</button>
        <button class="rounded bg-primary px-4 py-2 text-white" (click)="saveNewDueDate()">Change Date</button>
      </div>
    </div>
  </div>
</div>
