<div class="mx-auto px-4 py-4 lg:container sm:px-8">
  <div class="mb-4 flex flex-row justify-between">
    <div>
      <!-- <div class="flex space-x-2">
        <a routerLink="/project" class="text-gray-500 dark:text-night-200">Projects</a>
        <p>/</p>
        <a routerLink="/project/{{globalProjectId}}" class="text-gray-500 dark:text-night-200">
          My very fist Project
        </a>
      </div> -->

      <h4>Tasks</h4>
    </div>

    <!-- <div class="flex space-x-3 my-4">
      <div svp-card-selector>
        <svg-icon src="assets/icons/appicons/table.svg" [svgClass]="'h-4 h-4'"/>
        <span>LIST VIEW</span>
      </div>

      <div svp-card-selector>
        <svg-icon src="assets/icons/appicons/grid-view-outline.svg" [svgClass]="'h-4 h-4'"/>
        <span>DETAIL VIEW</span>
      </div>
    </div> -->
  </div>

  <div>
    <div class="mb-4">
      <button class="btn btn-primary" type="button" (click)="addNewTask()">Create task</button>
    </div>
  </div>

  <div class="mb-4 flex space-x-3">
    <svp-search-button svpPlaceholder="Search tasks" displaySearchButton="true" widthClass="w-64" />

    <ng-select
      [items]="projects$ | async"
      [addTag]="false"
      [multiple]="false"
      bindValue="id"
      bindLabel="title"
      [closeOnSelect]="true"
      placeholder="Select a project"
      [(ngModel)]="selectedProjectId"
      (change)="setProject($event)"
      class="w-80">
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice : 0 : 1">
          <span class="ng-value-label"><strong>Project:</strong> {{ items[0].title }}</span>
          <!-- <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span> -->
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">{{ items.length - 1 }} more...</span>
        </div>
      </ng-template>

      <ng-template ng-header-tmp>
        <input style="width: 100%" type="text" placeholder="Search projects" />
      </ng-template>

      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <div class="flex space-x-1.5">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" class="mt-1.5" />

          <div>
            <strong>{{ item.title }}</strong> <br />
            <small>Owner: {{ item.createdBy.firstName }} {{ item.createdBy.lastName }}</small>
          </div>
        </div>
      </ng-template>
    </ng-select>

    <ng-select
      [items]="taskTypes"
      [addTag]="true"
      [multiple]="true"
      [hideSelected]="false"
      placeholder="Type"
      [(ngModel)]="taskSearchParams.types"
      (change)="loadTasks()"
      typeToSearchText="Please enter 2 or more characters"
      class="max-w-72">
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice : 0 : 1">
          <span class="ng-value-label"><strong>Type:</strong> {{ item }}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">{{ items.length - 1 }} more...</span>
        </div>
      </ng-template>
    </ng-select>

    <ng-select
      [items]="statuses"
      [addTag]="true"
      [multiple]="true"
      [hideSelected]="false"
      placeholder="Status"
      [(ngModel)]="taskSearchParams.statuses"
      (change)="loadTasks()"
      typeToSearchText="Please enter 2 or more characters"
      class="max-w-80">
      <ng-template ng-multi-label-tmp let-items="items" let-clear="clear">
        <div class="ng-value" *ngFor="let item of items | slice : 0 : 1">
          <span class="ng-value-label"><strong>Status:</strong> {{ item }}</span>
          <span class="ng-value-icon right" (click)="clear(item)" aria-hidden="true">×</span>
        </div>
        <div class="ng-value" *ngIf="items.length > 1">
          <span class="ng-value-label">{{ items.length - 1 }} more...</span>
        </div>
      </ng-template>

      <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
        <div class="flex space-x-1.5">
          <input id="item-{{ index }}" type="checkbox" [ngModel]="item$.selected" class="mt-1.5" />

          <div>
            <strong>{{ item }}</strong> <br />
          </div>
        </div>
      </ng-template>
    </ng-select>
  </div>

  <div class="bgwhite rounded-xl dark:bg-night-700">
    <div class="w-full">
      <div class="table-container max-h-[calc(100vh-324px)]">
        <table class="fixed-header header-1 bordered">
          <thead>
            <tr>
              <th width="8%"><span>Type</span></th>
              <th style="max-width: 30%"><span>Summary</span></th>
              <th><span>Status</span></th>
              <th><span>Created</span></th>
              <th><span>Last Updated</span></th>
              <th><span>Due Date</span></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="!selectedProjectId || allTasks.length === 0">
              <td colspan="7" class="bg-transparent hover:bg-transparent">
                <div class="flex h-56 items-center justify-center">
                  <h6 *ngIf="!selectedProjectId">Select a project to view tasks.</h6>
                  <div *ngIf="selectedProjectId && allTasks.length === 0" class="flex flex-col items-center gap-6">
                    <h6>No tasks found.</h6>
                    <button class="btn btn-primary" type="button" (click)="addNewTask()">Create task</button>
                  </div>
                </div>
              </td>
            </tr>
            <tr *ngFor="let task of allTasks; let index = index">
              <td>
                <span>{{ task.type }}</span>
              </td>
              <td class="clickable cursor-pointer" (click)="viewTaskDetails(task.id)">
                <span>{{ task.summary }}</span>
              </td>
              <td>
                <div x-dropdown>
                  <svp-task-status-card [status]="task.status" [ngClass]="{
                    'cursor-pointer': task.status !== taskStatusEnum.COMPLETED
                  }" />
                
                  <div x-dropdown-content class="border border-gray-400 rounded-sm bg-white">
                    <div class="flex flex-col">
                      <div class="flex bg-gray-200 hover:bg-gray-100" *ngIf="task.status === taskStatusEnum.TODO" (click)="changeTaskStatus(task, taskStatusEnum.IN_PROGRESS)">
                        <div class="w-1 bg-info"></div>
                        <div class="px-2 py-1 flex gap-5 items-center cursor-pointer">
                          <span class="text-sm">start work</span>
                          <!-- arrow right svg -->
                          <svg-icon src="assets/icons/heroicons/outline/arrow-sm-right.svg" [svgClass]="'h-4 h-4'" />
                          <span class="text-xs font-semibold text-white bg-warning px-1 -ml-4 rounded-sm">IN PROGRESS</span>
                        </div>
                      </div>
                      
                      <div class="flex bg-gray-200 hover:bg-gray-100" *ngIf="task.status === taskStatusEnum.IN_PROGRESS" (click)="changeTaskStatus(task, taskStatusEnum.COMPLETED)">
                        <div class="w-1 bg-info"></div>
                        <div class="px-2 py-1 flex gap-5 items-center cursor-pointer">
                          <span class="text-sm">complete work</span>
                          <!-- arrow right svg -->
                          <svg-icon src="assets/icons/heroicons/outline/arrow-sm-right.svg" [svgClass]="'h-4 h-4'" />
                          <span class="text-xs font-semibold bg-success px-1 -ml-4 text-white rounded-sm">COMPLETED</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <span>{{ task.createdAt | utcToLocalDate }}</span>
              </td>
              <td>
                <span>{{ task.updatedAt === null ? '-' : (task.updatedAt! | utcToLocalDate : 'withTime') }}</span>
              </td>
              <td>
                <span>{{ task.dueDate | utcToLocalDate }}</span>
              </td>
              <td>
                <!-- TODO: Finish the dropdown capability to change the status -->
                <div class="cursor-pointer" x-dropdown closeOnFocusOut="false">
                  <a (click)="(false)">
                    <i class="bx bx-dots-vertical-rounded"></i>
                  </a>
                  <div x-dropdown-content class="flex flex-col bg-white border border-gray-300">
                    <div class="border-b border-gray-200 px-4 py-2 hover:bg-primary-300 cursor-pointer" (click)="viewTaskDetails(task.id)">
                      View Details
                    </div>
                    <div class="border-b border-gray-200 px-4 py-2 hover:bg-primary-300 cursor-pointer" (click)="deleteTask(task.id)">
                      Delete
                    </div>
                    <!-- <!- TODO: implement change or set due date -- -->
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

@if(sideViewService.isActive) {
<svp-side-view></svp-side-view>
}
