<div class="breadcrumb">
  <ol>
    <li>
      <a href="javascript:;">
        <svg-icon src="assets/icons/dashboard.svg" [svgClass]="'h-5 w-5'"></svg-icon>
      </a>
    </li>
    <li class=""><a href="javascript:;">Approval Management</a></li>
    <li class="active">
      <a href="javascript:;">Project Task Approvals</a>
    </li>
  </ol>
</div>

<div class="panel space-y-6">
  <h1 class="header">All Project Task Approvals</h1>

  <div>
    <div class="mt-4 border-b border-t border-[#e0e6ed] py-3 dark:border-[#1b2e4b]">
      <div class="flex items-end gap-10">
        <div>
          <div class="search-input">
            <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" (keyup)="searchChanged()" />
            <div class="icon">
              <svg-icon src="assets/icons/search.svg" *ngIf="!isSearching && !searchTerm"></svg-icon>
              <img src="assets/images/loading.gif" alt="Loading" *ngIf="isSearching" />
              <svg-icon
                src="assets/icons/x.svg"
                [svgClass]="'h-4 w-4 cursor-pointer hover:text-primary'"
                *ngIf="!isSearching && searchTerm"
                (click)="clearSearch()"></svg-icon>
            </div>
          </div>
        </div>
      </div>
    </div>

    <table class="table-responsive table-striped table-hover table-secondary">
      <thead>
        <tr>
          <th>#</th>
          <th>Project Title</th>
          <th>Status</th>
          <th>Requested By</th>
          <th>Requested On</th>
          <th>Fulfilled By</th>
          <th>Fulfilled On</th>
          <th>Approver Remarks</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="approvals.length === 0">
          <td colspan="9" class="text-center">No data found</td>
        </tr>

        @for(item of approvals; track item.id) {
        <tr class="text-nowrap">
          <td>{{ $index + 1 }}</td>
          <td class="!text-wrap">{{ item.projectTitle }}</td>
          <td>
            <span *ngIf="item.status === null" class="badge bg-slate-800">Pending</span>
            <span *ngIf="item.status === true" class="badge bg-success">Approved</span>
            <span *ngIf="item.status === false" class="badge bg-danger">Declined</span>
          </td>
          <td>{{ item.requesterName }}</td>
          <td>{{ item.requestedOn | utcToLocalDate }}</td>
          <td>{{ item.fulfilledByName ? item.fulfilledByName : '-' }}</td>
          <td>{{ item.fulfilledOn ? (item.fulfilledOn | utcToLocalDate) : '-' }}</td>
          <td>{{ item.remark ? item.remark : '-' }}</td>

          <td>
            <div x-dropdown>
              <svg-icon src="assets/icons/menu.svg" [svgClass]="'cursor-pointer hover:text-primary'" />

              <div x-dropdown-content class="nx-dropdown-content">
                <ul>
                  <li (click)="approveProjectTask(item)">Approve</li>

                  <li (click)="promptDeclinationModal(item)">Decline</li>

                  <li (click)="viewProjectDetails(item.projectId)">View Project</li>

                  <li routerLink="/tasks/all" [queryParams]="{ projectId: item.projectId }">View Task List</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        }
      </tbody>
    </table>

    <div>
      <app-pagination [paging]="paging" (pageChange)="goToPage($event)" (itemsPerPageChange)="onItemsPerPageChange($event)" />
    </div>
  </div>
</div>

<div class="fixed inset-0 z-50 flex h-full items-center justify-center overflow-hidden" *ngIf="remarkModalVisible">
  <div class="fixed inset-0 transition-opacity" (click)="remarkModalVisible = false">
    <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
  </div>

  <div class="overflow-hidde w-[95%] transform rounded-lg bg-white text-left transition-all sm:w-[calc(100vw/4)]" style="max-height: 90%; overflow-y: auto">
    <!-- Content -->
    <div>
      <div class="bg-primary p-4">
        <h2 class="text-lg font-bold text-white">Decline Task Setup Approval Request</h2>
      </div>

      <div class="bg-white p-4">
        <form [formGroup]="taskApprovalForm" class="space-y-6">
          <div>
            <label>Provide a comment</label>
            <textarea formControlName="remark" class="mb-1 min-h-36 w-full rounded border border-gray-300 p-2" placeholder="Enter comments"></textarea>

            <div class="text-red-700">
              <svp-validation-errors [control]="taskApprovalForm.get('remark')" />
            </div>

            <div>
              <svp-max-input-length [count]="taskApprovalForm.get('remark')?.value.length" [total]="500" [minThreshold]="5" />
            </div>
          </div>
        </form>
      </div>

      <div class="flex justify-end gap-2 bg-white p-4">
        <button class="rounded border border-danger px-4 py-2 text-primary" (click)="remarkModalVisible = false">Cancel</button>
        <button class="rounded bg-danger px-4 py-2 text-white" (click)="declineRequest()">Decline Request</button>
      </div>
    </div>
  </div>
</div>
