.table-container {
  // border: 1px solid #4976ba87;
  @apply border-[0.5px] border-gray-300 rounded-md shadow-md dark:border-night-500 dark:bg-night-600 dark:shadow-lg;
  overflow: auto;
  table {
    width: 100%;
    @apply bg-white dark:bg-night-900;
    border-collapse: collapse;
    overflow: hidden;
    thead {
      visibility: visible;
      position: relative;
      tr {
        // border-bottom: 1px solid #ebedf3;
        width: 100%;
        th {
          text-align: left;
          padding: 0.7rem 1rem 0.7rem 0.75rem;
          // font-size: 0.9rem;
          vertical-align: middle;
          &:first-child {
            border-top-left-radius: 5px;
          }
          &:last-child {
            border-top-right-radius: 5px;
          }
          span {
            color: #fff;
            // font-size: 0.9rem;
            font-weight: 600;
            display: inline-block;
            width: 100%;
            white-space: nowrap;
          }
        }
      }
    }
    &.header-1 {
      thead {
        tr {
          th {
            @apply bg-gray-900 dark:bg-night-200 dark:text-night-800;
            span {
              @apply text-gray-200 dark:text-night-800;
            }
          }
        }
      }
    }
    tbody {
      visibility: visible;
      position: relative;
      tr {
        // border-bottom: 1px solid #ebedf3;
        width: 100%;
        td {
          transition: all 0.3s ease;
          vertical-align: middle;
          padding: .3rem 1rem;
          @apply text-gray-800 dark:text-night-200;
          span {
            overflow: hidden;
            text-overflow: ellipsis;
            // display: flex;
            // width: 100%;
            label {
              &.checkbox {
                display: flex;
                align-items: center;
                position: relative;
                text-align: left;
                cursor: pointer;
                // font-size: 0.9rem;
                transition: all 0.3s ease;
                padding: 0;
                margin: 0 0 0 0;
                top: 1px;
              }
            }
          }          
        }
        td.clickable {
          @apply text-blue-600 hover:underline hover:text-blue-700;
        }
      }
      tr:hover {
        @apply bg-gray-100 dark:bg-night-800;
      }
    }
  }
}

.fixed-header {
  overflow-y: auto !important;
}
.fixed-header thead {
  z-index: 1;
}

.fixed-header thead th {
  position: sticky !important;
  top: 0 !important;
  // background: #4976ba !important;
  span {
    color: #103d81;
  }
}
